.chimney-hover {
  align-items: center;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 20px;
  padding: 5px;
  position: relative;
}

.chimney-hover .home-default-5 {
  left: unset !important;
  top: unset !important;
}

.chimney-hover .line-5 {
  height: 1px;
  left: -5px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 68px;
}

.chimney-hover.property-1-3-default {
  top: 20px;
}

.chimney-hover.property-1-3-variant-2 {
  top: 66px;
}
